= form_for @bucket do |f|
  -if @bucket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bucket.errors.count, "error")} prohibited this bucket from being saved:"
      %ul
        - @bucket.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    %legend Assets
    = f.fields_for :assets do |asset_f|
      = render "asset_fields", :f => asset_f

    = f.fields_for :assets, @bucket.assets.build do |asset_f|
      = asset_f.label :data, "Upload a file"
      = asset_f.file_field :data, :class => 'file_input'
      
  .actions
    = f.submit 'Save'
