<!DOCTYPE html>
<html>
<head>
  <title>Multiupload</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div id="header" class="container sidebar">
		<%= yield :header %>
	</div>
	<div class="content">
		<%= yield %>
	</div>

</body>
</html>
